/* CSS für das Kühlschrank-Design */
body {
    background-color: #f3f3f3;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.fridge-container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}

.header {
    text-align: center;
    margin-bottom: 30px;
}

.header h1 {
    font-size: 36px;
    color: #007bff;
    margin: 0;
}

.content {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Zwei Spalten */
    grid-gap: 20px; /* Abstand zwischen den Boxen */
}

.info-box {
    border: 2px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    background-color: #f8f9fa;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.info-box h2 {
    margin-top: 20px; /* Fügen Sie hier den gewünschten Abstand ein */
}

.info-box p {
    margin: 0;
    font-size: 18px;
}

.temperature-box {
    background-color: #b8d6ff; /* Hintergrundfarbe für Temperaturanzeige */
    margin-bottom: 20px; /* Abstand nach unten hinzufügen */
}


.functions-box {
    background-color: #ffd699; /* Hintergrundfarbe für Funktionen */
}

.additional-functions-box {
    background-color: #caffbf; /* Hintergrundfarbe für Weitere Funktionen */
}

.status-box {
    background-color: #ffc2b3; /* Hintergrundfarbe für Statusanzeige */
}

/* Button-Stile */
button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #ffffff;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

button:active {
    background-color: #004080;
}

.time {
    text-align: right; /* Text rechtsbündig ausrichten */
    font-size: 20px; /* Größe der Uhrzeit anpassen */
    color: #ff0000; /* Farbe der Uhrzeit ändern */
}